// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono|Press+Start+2P&display=swap');

$global-font-size: 16px;
$global-lineheight: 1.7;

$global-font-family: 'Roboto', sans-serif;
$global-serif-font-family: 'Roboto Slab', serif;

$logo-font-size: 20px;
$logo-font-family: 'Press Start 2P', cursive;;

$post-title-font-size: 1.6em;
$post-title-font-weight: bold;

$code-font-size: 1em;
$code-color: #34495e;
$code-font-family: 'Roboto Mono', monospace;
